.card {
    width: 270px;
    height: 360px;
 
    background-color: WhiteSmoke;
 }
 
 .abc {
    width: 110px;
    height: 40px;
 
    background-color: Tomato;
 }
 
 /* positioning .card-tag */
 
 .card {
    position: relative;
 }
 
 .abc {
    position: absolute;
    right: 0px;
    top: 15px;
 }
 